
<form action="/user/user.id" method="POST">
	<input type="hidden" name="_method" value="PUT">
	<input type="text" name="birthday" value="<%= @this_user.birthday %>">
	<input type="text" name="email" value="<%= @this_user.email %>">
	<input type="text" name="password" value="<%= @this_user.password %>">
	<button type="submit">Edit</button>
</form>



<form action="/user/user.id" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<button type="submit">Delete</button>
</form>