
<form method="POST" action="/post/create/new">
    <input type="text" name="post_name" placeholder="Title">
    <textarea name="post_content" cols="50" rows="20"></textarea>

    <button type="submit">Submit</button>
</form>
