
<form method="POST" action="/post/new">
    <input type="text" name="post_name" placeholder="post name">
    <input type="text" name="post_content" placeholder="post content">

    <button type="submit"></button>
</form>