# posts should open up to

<h2>Post</h2>

<div class="row">
	<div class="gallery">		
	<% @user.each do |post| %>
		<h1> <%= @user.post_name %> </h1>
		<h1> <%= @user.post_content %> </h1>
		<h1> <%= @user.user_id %> </h1>
		<img class="responsive-img" src="<%= beijing.image %>">
	<% end %>  
	</div>
</div>


# def self.search(search)
# 	where("name LIKE ?", "%#{search}%") 
# 	where("content LIKE ?", "%#{search}%")
# end
