

<h3> Welcome to TravelBlog <%= @user.first_name %> </h3>

	<button type="submit" >  <a class="my-link" href="/post">Post</a></button>
	
    <button type="submit" >  <a class="my-link" href="/new_post">New Post</a></button>
  
    <button type="submit" >  <a class="my-link" href="/edit">Edit</a></button>
	
	<button type="logout" >  <a class="my-link" href="/logout">Logout</a></button>

	<button type="delete" >  <a class="my-link" href="/delete">Delete</a></button>
	<br>
