

<h1> Welcome to TravelBlog <%= @user.first_name %> </h1>

    <button type="submit" >  <a class="my-link" href="/new_post">New Post</a></button>
  
    <button type="submit" >  <a class="my-link" href="/edit">Edit</a></button>
	
	<button type="logout" >  <a class="my-link" href="/logout">Logout</a></button>

	<button type="delete" >  <a class="my-link" href="/delete">Delete</a></button>
	<br>
	
	<% @posts.each do |a| %>
		<h1> <%= a.post_name %> </h1>
		<h5>User ID: <%= a.user_id %></h5>
		<h5> <%= a.post_content %> </h5>
		<img class="responsive-img" src="/image/leisure.jpg">
    <% end %> 
    