

<h1> Welcome to TravelBlog <%= @user.first_name %> </h1>


	<% @posts.each do |a| %>
		<h1> <%= a.post_name %> </h1>
		<h5> <%= a.post_content %> </h5>
		<h5> <%= a.user_id %> User ID # </h5>
		<img class="responsive-img" src="/image/beijing.jpg">
	<% end %>  
	