
<h1>Welcome to TravelBlog!</h1>

<h2>Signup</h2>

<form action="/signup" method="POST">
	<input type="text" name="first_name" placeholder="first name">
	<input type="text" name="last_name" placeholder="last name">
	<input type="text" name="birthday" placeholder="birthday">
	<input type="text" name="email" placeholder="email">
	<input type="text" name="password" placeholder="password">
	<button type="submit">Submit</button>
</form>
