
body {
    font-family: 'Courgette', cursive;
    line-height: 2rem;
    margin: 10px;
}

.nav-link {
    display: inline-block;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 10px;
}

.logo-container {
    width: 50px;
    margin-top: -25px;
    padding-top: -50px;
    /* padding-right: 15px;
    padding-left: 15px;  
    margin-left: -50px;
    height: 100px;
    */
}

img{
    /* position: relative;
    border-style: none; 
    vertical-align: middle;*/
    display: inline-block;
    left: =10px;
    top: -70px;
    width: 400px;
    height: 250px;
    
}

/* .column {
    display: inline-block;
    left: 30%;
    top: -70px;
    width: 100px;
    height: 100px;
} */