

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Allura');

/* 
font-family: 'Quattrocento', serif;
font-family: 'Niconne', cursive;
font-family: 'Prata', serif; */


body {
	margin: auto;
	width: auto;
	height: auto;
    font-family: 'Allura', cursive;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.navbar {
	align-items: justify;
    background-color: white; 
    margin-bottom: 20px;
}

.nav1{
    flex-flow: row nowrap;
    justify-content: flex-start;
}

img {
   max-width: 100%;
}

.gallery {
    width: 200px;
    height: 300px;
}

#title-text{
    margin: 0 auto;
    text-align: center;
}

h1{
	margin: 2px 5px;
	display: inline;
	font-size: 30px;
    color: rgb(26, 35, 36);
}

h5, h6{
	font-size: 20px;
	text-align: center;
	color: white;
	margin: 2px 5px;
}

li {
    display: inline-block;
    margin: 5px;
}

a:link {
    text-decoration: none;
    font-size: 25px;
}

p {
	color: rgb(138, 179, 179);
	font-size: 16px;
	text-align: center;
}

.text {
	width: 40%;
	margin: 50px auto;
}

.thanks {
	font-size: 50px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook { 
    color: rgb(168, 218, 207); 
}

.fa-twitter {
    color: rgb(168, 218, 207);
}

.fa-instagram {
    color: rgb(163, 191, 218);
}
/* Page setup */
.hero_image {
    background-image: url("/image/venice.jpg");
    background-size: cover;
    height: 100vh;
    margin-top: -20px;
}

button[type=submit]{
    width: 80px;
    height: 29.6px;
    background-color: gray;
    vertical-align: bottom;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 80%;
    background-color: rgb(32, 32, 43);
    text-align: center;
    color: white;
    margin-bottom: 20px;
 }

 .footer-info {
     align-items: justify;
 }