
body {
    font-family: 'Courgette', cursive;
    line-height: 2rem;
    margin: 10px;
    background-image: url("/image/pyramid.jpg");
    background-image: cover;
}

header {
    margin-top: -50px;
}

h3, h5 {
    margin: 10px;
}

.nav-link {
    display: inline-block;
    color: white;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 10px;
    color: white;
}

.logo-container {
    margin-top: -25px;
    padding-top: -50px;
}

img{
    display: inline-block;
    left: -10px;
    top: -70px;
    width: 400px;
    height: 250px;
    border-radius: 8px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#mylogo {
    width: 200px;
    height: 250px;
    margin-bottom: -30px;
    border: none;
}

.page-footer {
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(42, 43, 44);
    color: darkgrey;
    text-align: center;
 }

 .slideshow-content {
    text-align: center;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 20px;
 }

 .mySlides {
     display:none;
     height: auto;
     width: 100%;
     border-radius: 8px;
}

.textname {
    box-shadow: seagreen;
    margin-bottom: 10px;
}

#myPicture {
    height: 300px;
    width: 450px;
}

.column {
    margin-bottom: 10px;
    margin-left: 20px;
}

